/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";
@import "~bootstrap/dist/css/bootstrap.rtl.css";

*{
    direction: rtl;
    text-align: right;
    
}
 .my-card {
    min-height: 350px;
}
.my-row {
    margin-top: 10px;
}
.bg-green{
    background-color: rgb(165, 212, 165) !important;
}
.card-header{
    background-color: rgb(165, 212, 165) !important;
}
.active{
    color:  rgb(65, 233, 65) !important;
}
.text-bold{
    font-weight: bold;
}
.jumbotron{
    margin-right: auto;
    margin-left: auto;
    margin-top: 50px;
    box-shadow: rgb(116, 111, 111) 3px 3px 3px;
    background-color: rgb(245, 245, 245);
    padding-top: 50px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 20px;
}
.searchInput {
    border-top: none;
    border-right: none;
    border-left: none;
    background-color: transparent; 
}
.searchInput:focus {
    outline: 0px;
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom: 1px solid black;
    background-color: transparent; 
}
td, th {
    text-align: center;
}

